<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head ('add a coffe')"></head>
<body>
<fieldset>
    <legend>Add a Coffee</legend>
    <form action="/coffee/new" method="post">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand">
        <label for="roast">Roast:</label>
        <input type="text" id="roast" name="roast">
        <label for="origin">Origin:</label>
        <input type="text" id="origin" name="origin">
        <input type="submit" value="submit">
    </form>
</fieldset>
</body>
</html>