<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head (SpringBlog)"></head>
<body class="d-flex flex-column min-vh-100">
<div class="d-flex justify-content-around align-content-center flex-row" style="background-color: black">
    <h1><a href="#" style="color: white">FAQ</a></h1>
    <h1><a href="https://github.com/johhncastro" style="color: white">DEV</a></h1>
</div>
<video src="https://static.videezy.com/system/resources/previews/000/000/117/original/CartridgeGlitch.mp4" muted loop autoplay style=" width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;"></video>
<div class="d-flex justify-content-center align-content-center mt-5 pt-5 container-fluid">
<h1 style="font-size: 100px; color: white" >SpringBlog</h1>
</div>
<div class="d-flex justify-content-center align-content-center mt-5" style="width: 100%;height: 100%;">
    <h1>
        <b>
            <a href="/sign-up">JUMP IN</a>
        </b>
    </h1>
</div>

<div th:replace="partials/partials.html :: boosted-footer"></div>
<div th:replace="partials/partials.html :: boosted-js"></div>
</body>
</html>