<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head (Login)"></head>
<body class="d-flex flex-column min-vh-100">
    <video th:replace="partials/partials.html :: video-bg"></video>
    <a href="/"><h1 style="color: white" class="text-center">SpringBlog</h1></a>

<!--    <h1 class="text-center mt-5" style="color: white">Log In</h1>-->
<!--    <div style="color: indianred" th:if="${param.error}">-->
<!--        Invalid Username and Password.-->
<!--    </div>-->
<!--    <div style="color: lightgreen" th:if="${param.logout}">-->
<!--        You have been logged out.-->
<!--    </div>-->


<!--<form style="color: white" class="align-content-center" th:action="@{/login}" method="post">-->
<!--    <label for="username">Username</label>-->
<!--    <input id="username" name="username" type="text" />-->
<!--    <label for="password">Password</label>-->
<!--    <input id="password" name="password" type="password" />-->
<!--    <input type="submit" value="Log In" />-->
<!--</form>-->
    <div class="d-flex justify-content-center ">
    <div class="card text-center mt-5 justify-content-center" style="width: 25rem;background-color: rgba(0,0,0,0.4); color: white">
        <div class="card-body" style="background-color: rgba(0,0,0,0.4)">
            <form th:action="@{/login}" method="post" >
                <label for="username">USERNAME:</label>
                <p></p>
                <input id="username" name="username" type="text" />
                <p></p>
                <label for="password">PASSWORD:</label>
                <p></p>
                <input id="password" name="password" type="password" />
                <p></p>
                <input type="submit" class="btn btn-primary justify-content-center" value="SIGN IN">
                <p></p>
                <div style="color: indianred" th:if="${param.error}">
                    Invalid Username and Password.
                </div>
                <div style="color: lightgreen" th:if="${param.logout}">
                    You have been logged out.
                </div>
            </form>
        </div>
    </div>
    </div>

<div th:replace="partials/partials.html :: boosted-js"></div>
<div th:replace="partials/partials.html :: boosted-footer"></div>

</body>
</html>